rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access only for authenticated users and only their own data
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

			match /plans/{planId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
			match /users/{userId}/plans/{planId} {
      	allow update: if request.auth.uid == userId;
        // allow read, write, update: if request.auth != null && request.auth.uid == userId;
      }
      
      match /markers/{markerId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
			match /users/{userId}/markers/{markerId} {
      	allow update: if request.auth.uid == userId;
      }
    }
  }
}