{{page-title "Running Tracker"}}

<!-- Navigation Bar -->
<nav class="navbar">
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/map">Map</a></li>
    <li><a href="/plans">Plans</a></li>
    <li><a href="/saved-routes">Saved Routes</a></li>

  </ul>
</nav>

<!-- Main Content -->
<div class="content">
  {{outlet}}
</div>
