{{page-title "Calendar"}}

<nav class="navbar">
  <ul>
    {{!-- <li><LinkTo @route="index">Home</LinkTo></li> --}}
    <li><LinkTo @route="calendar" class="nav-link" activeClass="active">Calendar</LinkTo></li>
    <li><LinkTo @route="map" class="nav-link" activeClass="active">Map</LinkTo></li>
    <li><LinkTo @route="plans" class="nav-link" activeClass="active">Plans</LinkTo></li>
    <li><LinkTo @route="create-new-plan" class="nav-link" activeClass="active">Create New Plan</LinkTo></li>
    <li><LinkTo @route="weekly-monthly-stats" class="nav-link" activeClass="active">User Stats</LinkTo></li>
  </ul>
  <button class="buttonStyle" type="button" {{on "click" this.logout}}>Log Out</button>
</nav>

<br><br><br><br><br>

<h1>Calendar</h1>
<Week/>
