{{page-title "Calendar"}}
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<h1>Calendar Page</h1>
<Week/>
<button type="button" {{on "click" this.logout}}>Log Out</button>