{{page-title "Calendar"}}

{{!-- <LinkTo @route="map">Go to Map</LinkTo>
<LinkTo @route="create-new-plan">Create New Plan</LinkTo> --}}

<br><br><br>

<h1>Calendar Page</h1>
<Week/>
<button type="button" {{on "click" this.logout}}>Log Out</button>