{{page-title "CreateNewPlan"}}

{{!-- css of bootstrap --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<button class="buttonStyle" type="button" {{on "click" this.goToPage}}>
  Back to Calendar
</button>

<br><br><br>
<h1>Create New Plan</h1>

{{!-- <form>
<div><input type="text" placeholder="New plan name"></div>
<div><input type="datetime-local"></div>
<div><input type="checkbox"><label for="newDistance" >Goal Distance: </label><input type="number" id="newDistance"><span>Miles</span></div>
<div><input type="checkbox"><label for="newTime" >Goal Time: </label><input type="number" id="newTime"><span>Mins</span></div>
<button type="submit">Create</button>
</form> --}}

<form class="p-4 border rounded bg-light" id="newPlanForm" {{on "submit" this.handleSubmit}}>
      <div class="mb-3" >
        <label for="planName" class="form-label">New Plan Name</label>
        <input type="text" class="form-control" name="planName" id="planName" placeholder="Enter plan name">
      </div>
      {{!-- <div class="mb-3" >
        <label for="planCat" class="form-label">Execerise Category</label>
        <div class="mt-2">
          <select id="planCat" name="planCat" class="form-select" aria-label="Default select example" style="width: 100%;">
            <option value="Walk">Walk</option>
            <option value="Jogging">Jogging</option>
            <option value="Running">Running</option>
            <option value="Stroll">Stroll</option>
            <option value="Race walking">Race walking</option>
            <option value="Hiking">Hiking</option>
          </select>
        </div>
      </div> --}}
      <div class="mb-3">
        <label for="dateTime" class="form-label">Start Date and Time</label>
        <input type="datetime-local" class="form-control" name="dateTime" id="dateTime">
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="goalDistanceCheck" id="goalDistanceCheck">
        <label for="goalDistanceCheck" class="form-check-label">Goal Distance</label>
        <div class="input-group mt-2">
          <input type="number" class="form-control" name="newDistance" id="newDistance" placeholder="Distance">
          <span class="input-group-text">Miles</span>
        </div>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="goalTimeCheck" id="goalTimeCheck">
        <label for="goalTimeCheck" class="form-check-label">Goal Duration</label>
        <div class="input-group mt-2">
          <input type="number" class="form-control" name="newTime" id="newTime" placeholder="Time">
          <span class="input-group-text">Mins</span>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Create</button>
    </form>


{{!-- <button type="button" {{on "click" this.logout}}>Log Out</button> --}}
{{!-- scipts for bootstrap --}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>