{{page-title "Index"}}

<h1>Running Tracker</h1>

<p>Track every step, Reach every goal.</p>

{{#if this.isLoggedIn}}
  <button type="button" {{on "click" this.logout}}>Log Out</button>
{{else}}
  <button type="button" {{on "click" this.login}}>Log In</button>
{{/if}}