{{page-title "Index"}}

<div class="indexPage">
  <h1>Running Tracker</h1>

  <p>Track every step, Reach every goal.</p>


  {{#if this.isLoggedIn}}
    <button class="buttonStyle" type="button" {{on "click" this.logout}}>Log Out</button>
  {{else}}
    <button class="buttonStyle" type="button" {{on "click" this.login}}>Log In</button>
  {{/if}}
</div>
