{{page-title "Index"}}
{{!-- <LinkTo @route="calendar">Go to Calendar</LinkTo>
<LinkTo @route="map">Go to Map</LinkTo>
<LinkTo @route="create-new-plan">Create New Plan</LinkTo> --}}
<h1>Running Tracker</h1>

<p>Track every step, Reach every goal.</p>


{{#if this.isLoggedIn}}
  <button type="button" {{on "click" this.logout}}>Log Out</button>
{{else}}
  <button type="button" {{on "click" this.login}}>Log In</button>
{{/if}}